<div *ngIf="!isRowClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">

        <div style="display: inline-flex;padding: 0px" class="col-md-12">
          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge Fund Type:</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>


          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge No:</label>
            <input formControlName="pledgeId" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Program Name:</label>
            <select formControlName="programName" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="United States" selected>Carbon Emission Reduction</option>
              <option value="India">Carbon Footprint</option>
            </select>
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Payment Period:</label>
            <input formControlName="paymentPeriod" class="form-control" [class.status-select-open]="childMessage"
              [class.status-select-close]="!childMessage">
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 5px;" class="col-md-12" style="padding: 0px">



          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Installments:</label>
            <input formControlName="installments" class="form-control" [class.invoice_no-input-open]="childMessage"
              [class.invoice_no-input-close]="!childMessage">
          </div>


          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label ar">Amount:</label>
            <input formControlName="amount" class="form-control" [class.ar-input-open]="childMessage"
              [class.ar-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 30px;">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage"
              style="max-width: 71%;">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 34px !important; ">End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage" style="max-width: 71%;">
          </div>

        </div>

        <div style="margin-top: 10px; display: inline-flex;" class="col-md-12">
          <div class="col-md-11"></div>
          <button mat-raised-button class="col-md-1" [class.searchBtn-open]="childMessage"
            [class.searchBtn-close]="!childMessage">
            <i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
      </form>
    </div>

  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="pagedItems" matSort class="col-md-12">

      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef>Check</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation(); store();"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE NO. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- WBG Program -->
      <ng-container matColumnDef="programName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PROGRAM NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
      </ng-container>

      <!--  Pledge Type Column -->
      <ng-container matColumnDef="pledgeType">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE FUND TYPE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DONOR NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> COUNTRY </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Pledge Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> AMOUNT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>


      <!-- Approver Column -->
      <ng-container matColumnDef="approver">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> APPROVER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.approvedBy}} </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> START DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> END DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <!-- Disclaimer column -->
      <!--   <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="2">
        Please note that the cost of items displayed are completely and totally made up.
      </td>
    </ng-container> -->


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>
      <!--  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr> -->
    </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>

  <div style=" float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="approvePledge()">
      <i class="fa fa-check" aria-hidden="true"></i>Approve</button>
  </div>
</div>

<form class="col-md-11" [formGroup]="approvePledgeForm" (ngSubmit)="onRevise()" style="margin-left: 20px;"
  *ngIf="isRowClicked">
  <div class="form-group" style="padding-top: 20px;    width: 40%;    ">

    <div >
      <label class="form-label">Pledge No:</label>
      <input type="text" formControlName="pledgeId" class="form-control" style="float: right;
                          width: 210px;    height: 36px;" value={{rowData.pledgeId}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Donor Name:</label>
      <input type="text" formControlName="donorName" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.donorName}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input type="text" formControlName="programName" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.programName}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input type="text" formControlName="country" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.country}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Pledge Fund Type:</label>
      <input type="text" formControlName="pledgeFundType" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.pledgeFundType}} disabled>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="text" formControlName="startDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.startDate}} disabled>

    </div>

    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="text" formControlName="endDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.endDate}} disabled>
    </div>

    <br />
    <div>
      <label class="form-label">Amount:</label>
      <input type="text" formControlName="amount" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.amount}} disabled>
    </div>

    <br />
    <div>
      <label class="form-label">Payment Period:</label>

      <input type="text" formControlName="paymentPeriod" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.paymentPeriod}} disabled> 

    </div>

    <br />
    <div>
      <label class="form-label">Installments:</label>

      <input type="text" formControlName="installments" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.installments}} disabled>

    </div>
    <br />

    <div>
      <label class="form-label">Comments:</label>
      <textarea formControlName="comments" rows="4" cols="50" class="form-control" style="float: right;
        width: 210px; height:70px; resize: vertical; "></textarea>

    </div>
    <br />

    <div style="display: inline-flex;     margin-left: 180px; margin-top: 10px;">
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 30px; ">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onCancel()">Cancel</button>
      </div>


      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 115px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn">Revise</button>
      </div>
    </div>

  </div>
</form>