<div *ngIf="!createPledgeClicked">
  <mat-card class="search-form">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">

        <div style="display: inline-flex;">
          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge Fund Type:</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
              <label class="searchForm-label space">Donor Nmae:</label>
              <input formControlName="donorName" class="form-control" [class.donorName-input-open]="childMessage"
                [class.donorName-input-close]="!childMessage">
            </div>

            <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
                <label class="searchForm-label space">Country:</label>
                <input formControlName="country" class="form-control" [class.donorName-input-open]="childMessage"
                  [class.donorName-input-close]="!childMessage">
              </div>

          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">AR No:</label>
            <input formControlName="ar_id" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage">
          </div>


        </div>

        <div style="display: inline-flex; margin-top: 5px;">


          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 30px;">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage">
          </div>

          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 47px !important; ">End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage">
          </div>

          <div [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label ar">Status:</label>
            <input formControlName="status" class="form-control" [class.ar-input-open]="childMessage"
              [class.ar-input-close]="!childMessage">
          </div>

        </div>

        <div style="margin-top: 10px">
          <button mat-raised-button [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
            <i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
      </form>
    </div>

  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
               <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox> 
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation(); store();" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox> 
            </mat-cell>
          </ng-container>
      


      <!-- Position Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE NO. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DONOR NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ar_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> AR No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.arId}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> AMOUNT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>

      <!-- Debit Column -->
      <ng-container matColumnDef="debit">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DEBIT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.debit}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> COUNTRY </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Installment Column -->
      <ng-container matColumnDef="installment_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> INSTALLMENT NO </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.installmentNo}} </mat-cell>
      </ng-container>

      <!-- startDate Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> START DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>

      <!-- endDate Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> END DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
    <button mat-raised-button class="approveBtn" (click)="generateBilling()">
      <i class="fa fa-pencil" aria-hidden="true" style="
    padding-right: 5px;
    padding-bottom: 3px; font-weight: 500;
    font-size: 18px;"></i>Generate Billing</button>
  </div>
</div>



