.search-form{
    margin:20px;
    height: 125px;
}
.search-formField-open{
    padding-top: 10px;
    padding-left: 4px;
}

.search-formField-close{
    padding-top: 10px;
    padding-left: 15px;
}

.searchForm-label{
    font-size: 12px;
    color: #02375f;
    text-transform: uppercase;
}

.searchForm-label.space{
    padding-right: 5px;
}

.searchForm-label.status{
    padding-right: 19px;
}

.searchForm-label.ar{
    padding-right: 19px;
}

.pledgeFundType-select-open{
 height:25px;   
}

.pledgeFundType-select-close{
    height:25px;   
    width: 180px;
}
.ar-input-open{
    width: 169px;
    height: 20px;
}
.donorName-input-open, .invoice_no-input-open{
    height:20px;   
    
}
 
.donorName-input-close, .ar-input-close, .invoice_no-input-close{
    height:20px;   
    width: 180px;
}

.country-select-open, .status-select-open{
    width: 140px; 
    height: 20px;
}

.country-select-close, .status-select-close{
    width: 180px; 
    height: 25px;
}

.invoice-label-open{
    color:#02375f;
    padding-right: 27px;
    text-transform: uppercase;
    font-size: 12px;
}

.invoice-label-close{
    color:#02375f;
    padding-right: 22px;
    text-transform: uppercase;
    font-size: 12px;
}

.endDate-input-open{
    height: 20px;
    width: 140px;
}

.endDate-input-close{
    height: 20px;
    width: 175px;
}

.startDate-input-open{
    height: 20px;
    width: 136px;
}

.startDate-input-close{
    height: 20px;
    width: 170px;
}

.searchBtn-open{
    font-size: 14px;
    color: #ffffff;
    /* height: 36px; */
    align-items: center;
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-open:hover{
    font-size: 14px;
    color: #ffffff;
    /* height: 36px; */
    align-items: center;
    opacity: 0.9;
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* 33px; */
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-close{
    font-size: 14px;
    color: #ffffff;
   /*  height: 36px; */
    align-items: center;
    margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-close:hover{
    font-size: 14px;
    color: #ffffff;
   /*  height: 36px; */
    align-items: center;
    opacity: 0.9;
    margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
   /*  box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.fa.fa-search{
    font-size: 18px;
    margin-top: -4px;
    padding-right: 7px;
    font-weight: 500;
}

table {
    width: 100%;
  }


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
 /*  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

 /*  .example-second-footer-row td {
    color: #900000;
  } */
  .approveBtn{
    background-color: #27aaf5;
    border-radius: 20px;
    height: 36px;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
  }
  
 .approveBtn:hover{
    background: #27aaf5;
    /* #b0b0b0b3; */
    border-radius: 20px;
    height: 36px;
    opacity: 0.9;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
}