<header>
  <mat-toolbar style="border-bottom: 1px solid #b0b0b0;background-color: #ffffff; height: 50px !important;">
    <mat-icon (click)="toggle()" id="toolbarMenu" style="padding-right: 40px;padding-left: 10px; font-size: 28px;">
      subject</mat-icon>{{header}}
  </mat-toolbar>
</header>

<section class="container">
  <div class="row">
    <mat-sidenav-container class="col-md-12" style="padding-right: 0px;
  padding-left: 0px;" id="sidenavContainer" fullscreen>
      <mat-sidenav class="col-md-6" #snav mode="side" id="sidenav" [class.menu-open]="isMenuOpen"
        [class.menu-close]="!isMenuOpen" opened>

        <mat-list id="menus">
          <mat-card style="box-shadow: none !important; padding-bottom: 6px !important; height: 44px !important;">
            <i class="fa fa-user-circle" aria-hidden="true" style="
          padding-top: 7px;
     font-size: x-large;
     padding-left: 10px;
     float: left;
     padding-right: 20px;"></i>
            <mat-card-header>
              <mat-card-title style=" padding-top: 8px; ">John Doe</mat-card-title>

            </mat-card-header>
          </mat-card>
          <hr>
          <mat-list-item>
            <button class="menu-item" [class.btnClicked]="isDashboardClicked"
              [class.btnNotClicked]="!isDashboardClicked" mat-flat-button (click)="openDashboard()">
              <mat-icon matTooltip="Dashboard" matTooltipPosition="right">dashboard</mat-icon>Pledge
            </button>
          </mat-list-item>


          <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isRecordLegalClicked"
              [class.btnNotClicked]="!isRecordLegalClicked" mat-flat-button (click)="openRecordLegal()">
              <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 25px;"></i>Legal
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isPaymentClicked" [class.btnNotClicked]="!isPaymentClicked"
              mat-flat-button ><!-- (click)="openPayment()" -->
              <i class="fa fa-credit-card" aria-hidden="true"
                style="font-size: 20px; margin-left: 18px;margin-right: 25px;"></i>Payment
            </button>
          </mat-list-item>

          <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isProcessPaymentClicked"
              [class.btnNotClicked]="!isProcessPaymentClicked" mat-flat-button ><!-- (click)="openProcessPayment()" -->
              <i class="fa fa-money" aria-hidden="true" style="font-size: 20px;
                margin-left: 18px;
                margin-right: 25px;"></i> Process Payment
            </button>
          </mat-list-item>



          <mat-list-item style="margin-top: 5px">
            <button class="menu-item" [class.btnClicked]="isUserRoleClicked" [class.btnNotClicked]="!isUserRoleClicked"
              mat-flat-button ><!-- (click)="openUserRole()" -->
              <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 15px;"></i>User Role
            </button>
          </mat-list-item>

        </mat-list>

      </mat-sidenav>

      <mat-sidenav-content class="col-md-10" style="padding-right: 0px;
    padding-left: 0px;" [ngStyle]="{'margin-left.px':contentMargin}" [class.sideContent-open]="isMenuOpen"
        [class.sideContent-close]="!isMenuOpen">
        <div *ngIf="isDashboardClicked">
          <app-dashboard [childMessage]="isMenuOpen"></app-dashboard>
        </div>

        <div *ngIf="isRecordLegalClicked">
          <app-record-legal-donor></app-record-legal-donor>
        </div>
        <div *ngIf="isPaymentClicked">
          <app-process-invoice></app-process-invoice>
        </div>


        <div *ngIf="isProcessPaymentClicked">
          <app-process-payment></app-process-payment>
        </div>

        <div *ngIf="isUserRoleClicked">
          <app-user-role></app-user-role>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>

    <!-- </div> -->
  </div>
</section>