/* .search-form{
    margin:20px;
    height: 125px;
}
.search-formField-open{
    padding-top: 10px;
    padding-left: 4px;
}

.search-formField-close{
    padding-top: 10px;
    padding-left: 15px;
}

.searchForm-label{
    font-size: 12px;
    color: #02375f;
    text-transform: uppercase;
}

.searchForm-label.space{
    padding-right: 5px;
}

.searchForm-label.status{
    padding-right: 19px;
}

.searchForm-label.ar{
    padding-right: 19px;
}

.pledgeFundType-select-open{
 height:25px;   
}

.pledgeFundType-select-close{
    height:25px;   
    width: 180px;
}
.ar-input-open{
    width: 169px;
    height: 20px;
}
.donorName-input-open, .invoice_no-input-open{
    height:20px;   
    
}
 
.donorName-input-close, .ar-input-close, .invoice_no-input-close{
    height:20px;   
    width: 180px;
}

.country-select-open, .status-select-open{
    width: 140px; 
    height: 20px;
}

.country-select-close, .status-select-close{
    width: 180px; 
    height: 25px;
}

.invoice-label-open{
    color:#02375f;
    padding-right: 27px;
    text-transform: uppercase;
    font-size: 12px;
}

.invoice-label-close{
    color:#02375f;
    padding-right: 22px;
    text-transform: uppercase;
    font-size: 12px;
}

.endDate-input-open{
    height: 20px;
    width: 140px;
}

.endDate-input-close{
    height: 20px;
    width: 175px;
}

.startDate-input-open{
    height: 20px;
    width: 136px;
}

.startDate-input-close{
    height: 20px;
    width: 170px;
} */

.searchForm-label{
    font-size: 12px;
    color: #02375f;
    text-transform: uppercase;
}

input, select{
    height: 36px;
   /*  width: 150px; */
    margin-left: 5px;
    padding: 5px;
}

.recordlegal-Btn{
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 100px;
    background-color: #27aaf5;
    font-size: 14px;
    color: #ffffff;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 20px !important; 

}
.searchBtn-open{
  /*   margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    color: #ffffff;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 1px !important; */

    font-size: 14px;
    color: #ffffff;
    /* height: 36px; */
    align-items: center;
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-open:hover{
    font-size: 14px;
    color: #ffffff;
    /* height: 36px; */
    align-items: center;
    opacity: 0.9;
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* 33px; */
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-close{
  /*   margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 1px !important; */

    font-size: 14px;
    color: #ffffff;
   /*  height: 36px; */
    align-items: center;
    margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
    /* box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.searchBtn-close:hover{
    font-size: 14px;
    color: #ffffff;
   /*  height: 36px; */
    align-items: center;
    opacity: 0.9;
    margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 36px;
   /*  box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important; */
    border-radius: 20px !important;
}

.fa.fa-search{
    font-size: 18px;
    margin-top: -4px;
    padding-right: 7px;
    font-weight: 500;
}

table {
    width: 100%;
  }


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
 /*  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }


  .m-signature-pad {
    /* float: right; */
   
    font-size: 17px;
    width: 300px;
    height: 200px;
    border: 1px solid ;
    background-color: #fff;
    
    border-radius: 4px;
    border-color: #808080a1;
  }

 .m-signature-pad-donor{
    
    /* float: left; */
    font-size: 17px;  
    width: 300px;
    height: 200px;
    border: 1px solid ;
    background-color: #fff; 
    border-radius: 4px;
    border-color: #808080a1;
 }

 .paginationBtn{
    /* background-color: #27aaf5; */
    border-radius: 20px;
    height: 35px;
    align-items: center;
    color: #27aaf5;
    box-shadow: none;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 0px;
    width: 35px !important;
    border-radius: 50%;
    padding: 0px;
    outline: none;
  }

  .paginationBtn:focus {     
    background-color: #27aaf5;
    border-radius: 20px;
    height: 35px;
    align-items: center;
    color: #ffffff;
    box-shadow: none;
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 0px;
    width: 35px !important;
    border-radius: 50%;
    padding: 0px;   
}

.tableHeader{
    font-size: 12px;
    color: #02375f;
    text-transform: uppercase;
}
