<header>
  <mat-toolbar class="toolbar">
    <div style="width: 100%">
      <img src="/assets/images/World_bank_group_logo.PNG" alt="The World Bank" style="height: 30px; width:160px; margin-bottom: 5px;">
      <div style="float: right; color: #ffffff; height: 20px; font-size: 14px;">Welcome <span style="color:#71cbff">John
          Doe</span> </div>
    </div>
    <a [routerLink]="['/logout']" style="padding-bottom: 4px;
  color: white;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 31px;">Logout</a>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>