<div *ngIf="!isRowClicked">
  <mat-card class="col-md-11" style="max-width: 95.666667%;margin: 20px;" class="search-form" class="col-md-11"
    style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">

        <div style="display: inline-flex;" class="col-md-12" style="padding: 0px">
          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge Fund Type:</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge No:</label>
            <input formControlName="pledgeNo" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Program Name:</label>
            <select formControlName="programName" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="United States" selected>Carbon Emission Reduction</option>
              <option value="India">Carbon Footprint</option>
            </select>
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Payment Period:</label>
            <input formControlName="paymentPeriod" class="form-control" [class.status-select-open]="childMessage"
              [class.status-select-close]="!childMessage">
          </div>
        </div>

        <div style="display: inline-flex; margin-top: 5px;" class="col-md-12" style="padding: 0px">

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Installments:</label>
            <input formControlName="installments" class="form-control" [class.invoice_no-input-open]="childMessage"
              [class.invoice_no-input-close]="!childMessage" >
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label ar">Amount:</label>
            <input formControlName="amount" class="form-control" [class.ar-input-open]="childMessage"
              [class.ar-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 30px; ">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage" style="max-width: 71%;">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage"
            [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 34px !important;">End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage" style="max-width: 71%;">
          </div>
        </div>

        <div style="margin-top: 10px; display: inline-flex;" class="col-md-12">
          <div class="col-md-11"></div>
          <button class="col-md-1" mat-raised-button [class.searchBtn-open]="childMessage"
            [class.searchBtn-close]="!childMessage">
            <i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
      </form>
    </div>
  </mat-card>

  <div class="example-container mat-elevation-z8" style="margin:20px;">
    <mat-table [dataSource]="pagedItems" matSort class="col-md-12">

      <!-- Pledge ID Column -->
      <ng-container matColumnDef="pledgeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE NO. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
      </ng-container>

      <!-- WBG Program -->
      <ng-container matColumnDef="wbgProgram">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PROGRAM NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
      </ng-container>

      <!--  Pledge Type Column -->
      <ng-container matColumnDef="pledgeType">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE FUND TYPE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pledgeFundType}} </mat-cell>
      </ng-container>

      <!-- Donor Name Column -->
      <ng-container matColumnDef="donorName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> DONOR NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.donorName}} </mat-cell>
      </ng-container>

      <!-- Country Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> COUNTRY </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
      </ng-container>

      <!-- Pledge Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE AMOUNT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>


      <!-- Approver Column -->
      <ng-container matColumnDef="approver">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> APPROVER </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.approvedBy}} </mat-cell>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> START DATE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> END DATE </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.endDate}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="recordlegalBtn">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <button (click)="selectRowBtn(row)" class="recordLegalIcon" matTooltip="Record Legal"><i
              class="fa fa-file-text-o" aria-hidden="true"></i></button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></mat-row>

    </mat-table>
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)"
            style="border: 1px solid #27aaf5;">></button>
        </li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</div>


<form class="col-md-11" [formGroup]="recordLegalForm" style="margin-left: 20px;" *ngIf="isRowClicked">
  <div class="form-group" style="padding-top: 20px;    width: 40%;    ">


    <div>
      <label class="form-label">PLEDGE ID:</label>
      <input type="text" disabled formControlName="pledgeId" class="form-control" style="float: right;
                          width: 210px;    height: 36px;" value={{rowData.pledgeId}}>
    </div>
    <br />
    <div>
      <label class="form-label">Donor Name:</label>
      <input type="text" disabled formControlName="donorName" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.donorName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <input type="text" disabled formControlName="wbg_program" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.programName}}>
    </div>
    <br />
    <div>
      <label class="form-label">Country:</label>
      <input type="text" disabled formControlName="country" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.country}}>
    </div>
    <br />
    <div>
      <label class="form-label">Pledge Fund Type:</label>
      <input type="text" disabled formControlName="pledgeFundType" class="form-control" style="float: right;
                      width: 210px;    height: 36px;" value={{rowData.pledgeFundType}}>
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="text" disabled formControlName="startDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.startDate}}>

    </div>

    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="text" disabled formControlName="endDate" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.endDate}}>
    </div>

    <br />
    <div>
      <label class="form-label">Amount:</label>
      <input type="text" disabled formControlName="amount" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.amount}}>
    </div>

    <br />
    <div>
      <label class="form-label">Payment Period:</label>

      <input type="text" disabled formControlName="paymentPeriod" class="form-control" style="float: right;
        width: 210px;    height: 36px;" value={{rowData.paymentPeriod}}>

    </div>

    <br />
    <div>
      <label class="form-label">Number of Payment:</label>

      <input type="text" disabled formControlName="noOfPayment" class="form-control" style="float: right;
                  width: 210px;    height: 36px;" value={{rowData.installments}}>

    </div>
    <br /><br />


    <div style="width: 170%;
    display: inline-flex;
    flex-direction: row;">

      <div>
        <label class="form-label">Wbg BusinessUser Sign:</label>

        <div class="initiatePledgeForm-formField1">

          <textarea disabled rows="3" cols="50" class="form-control" style="float: right;
          width: 300px; height:200px; resize: vertical; "></textarea>

        </div>

      </div>

      <div style="    float: right;
   padding-left: 13px;">

        <label class="form-label">Donor Sign:</label>

        <div class="m-signature-pad">
          <signature-pad #sigPad>
          </signature-pad>
        </div>
        <br />
        <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="sigPad.clear()">Clear</button>
      </div>
    </div>
    <br />

    <div style="display: inline-flex;     margin-left: 180px; margin-top: 10px;">
      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 30px; ">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onCancel()">Cancel</button>
      </div>

      <div class="form-group" style="    float: right;
        padding-top: 10px;
        padding-right: 115px;">
        <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onLegalSubmit(rowData)">Submit</button>
      </div>
    </div>
  </div>
</form>