<header>
<mat-toolbar style="border-bottom: 1px solid #b0b0b0;background-color: #ffffff; height: 50px !important;">

  <mat-icon (click)="toggle()" id="toolbarMenu" style="padding-right: 40px;padding-left: 10px; font-size: 28px;">subject
  </mat-icon>{{header}}
</mat-toolbar>
</header>

<section class="container">
    <div class="row">
<mat-sidenav-container class="col-md-12" style="padding-right: 0px;
padding-left: 0px;" id="sidenavContainer" fullscreen>
  <mat-sidenav class="col-md-6" #snav mode="side" id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <mat-list id="menus">
       <mat-list-item>
        <button class="menu-item" [class.btnClicked]="isDashboardClicked" [class.btnNotClicked]="!isDashboardClicked"
          mat-flat-button (click)="openDashboard()">
          <mat-icon matTooltip="Dashboard" matTooltipPosition="right" style="    height: 32px;
            width: 32px;">dashboard</mat-icon>Pledge
        </button>
      </mat-list-item>
        <mat-list-item style="margin-top: 5px">
        <button class="menu-item" [class.btnClicked]="isRecordLegalClicked"
          [class.btnNotClicked]="!isRecordLegalClicked" mat-flat-button (click)="openRecordLegal()">
          <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 30px;"></i>Legal
        </button>
      </mat-list-item>

      <mat-list-item style="margin-top: 5px">
        <button class="menu-item" [class.btnClicked]="isInitiateARClicked" [class.btnNotClicked]="!isInitiateARClicked"
          mat-flat-button style="display: inline-flex" ><!-- (click)="openInitiateAR()" -->
          <i class="fa fa-money" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 25px; "></i><span>Account Receivable</span>
        </button>
      </mat-list-item>

      <mat-list-item style="margin-top: 5px">
        <button class="menu-item" [class.btnClicked]="isGenerateBillingClicked"
          [class.btnNotClicked]="!isGenerateBillingClicked" mat-flat-button ><!-- (click)="openGenerateBilling()" -->
          <i class="fa fa-tag" aria-hidden="true" style="font-size: 20px;
              margin-left: 18px;
              margin-right: 25px;"></i>Billing
        </button>
      </mat-list-item>



    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content class="col-md-10" style="padding-right: 0px;
  padding-left: 0px;" [ngStyle]="{'margin-left.px':contentMargin}">
    <div *ngIf="isDashboardClicked">
      <app-approve-pledge [childMessage]="isMenuOpen"></app-approve-pledge>
    </div>
    <div *ngIf="isRecordLegalClicked">
      <app-record-legal [childMessage]="isMenuOpen"></app-record-legal>
    </div>
    <div *ngIf="isInitiateARClicked">
      <app-initiate-ar [childMessage]="isMenuOpen"></app-initiate-ar>
    </div>
    <div *ngIf="isGenerateBillingClicked">
      <app-generate-billing [childMessage]="isMenuOpen"></app-generate-billing>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

</div>
</section>