<div *ngIf="!createPledgeClicked">
  <mat-card  class="col-md-11" style="max-width: 95.666667%;margin: 20px;">
    <div>
      <form [formGroup]="searchForm" (ngSubmit)="searchPledge()">

        <div style="display: inline-flex;" class="col-md-12" style="padding: 0px">
          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge Fund Type:</label>
            <select formControlName="pledgeFundType" class="form-control"
              [class.pledgeFundType-select-open]="childMessage" [class.pledgeFundType-select-close]="!childMessage">
              <option value="Regular" selected>Regular</option>
              <option value="Additional Contribution">Additional Contribution</option>
            </select>
          </div>


          <div  class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Pledge No:</label>
            <input formControlName="pledgeNo" class="form-control" [class.donorName-input-open]="childMessage"
              [class.donorName-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Program Name:</label>
            <select formControlName="programName" class="form-control" [class.country-select-open]="childMessage"
              [class.country-select-close]="!childMessage">
              <option value="United States" selected>Carbon Emission Reduction</option>
              <option value="India">Carbon Footprint</option>
            </select>
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Payment Period:</label>
            <input formControlName="paymentPeriod" class="form-control" [class.status-select-open]="childMessage"
              [class.status-select-close]="!childMessage">
          </div>
        </div>

        <!--  -->

        <div style="display: inline-flex; margin-top: 5px;" class="col-md-12" style="padding: 0px">
          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label space">Installments:</label>
            <input formControlName="installments" class="form-control" [class.invoice_no-input-open]="childMessage"
              [class.invoice_no-input-close]="!childMessage" >
          </div>


          <div  class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label ar">Amount:</label>
            <input formControlName="amount" class="form-control" [class.ar-input-open]="childMessage"
              [class.ar-input-close]="!childMessage">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 30px;">Start Date:</label>
            <input type="date" formControlName="startDate" class="form-control"
              [class.startDate-input-open]="childMessage" [class.startDate-input-close]="!childMessage" style="max-width: 71%;">
          </div>

          <div class="col-md-3" style="display: inline-flex;" [class.search-formField-open]="childMessage" [class.search-formField-close]="!childMessage">
            <label class="searchForm-label" style="padding-right: 34px !important; ">End Date:</label>
            <input type="date" formControlName="endDate" class="form-control" [class.endDate-input-open]="childMessage"
              [class.endDate-input-close]="!childMessage" style="max-width: 71%;">
          </div>

        </div>

        <div style="margin-top: 10px; display: inline-flex;" class="col-md-12">
          <div class="col-md-11"></div>
          <button  class="col-md-1" mat-raised-button [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage">
            <i class="fa fa-search" aria-hidden="true"></i>Search</button>
        </div>
      </form>
    </div>

  </mat-card>

  <div  class="example-container mat-elevation-z8" style="margin:20px;" >
  <mat-table [dataSource]="pagedItems" matSort class="col-md-12">
    <!-- Position Column -->
    <ng-container matColumnDef="pledgeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE NO. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pledgeId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="programName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PROGRAM NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pledgeFundType">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PLEDGE FUND TYPE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pledgeFundType}}</mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> AMOUNT </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="installments">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> INSTALLMENTS </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.installments}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="paymentPeriod">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> PAYMENT PERIOD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentPeriod}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> START DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="endDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="tableHeader"> END DATE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination" style="float:right; margin-right: 20px;">
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button mat-raised-button class="paginationBtn" (click)="setPage(page)">{{page}}</button>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button  mat-raised-button class="paginationBtn" (click)="setPage(pager.currentPage + 1)" style="border: 1px solid #27aaf5;">></button>
      </li>
  </ul>
</div>
</div >

<div style="    float: right;padding-right: 25px; margin-bottom: 10px;">
  <button mat-raised-button class="approveBtn" (click)="createPledge()">
    <i class="fa fa-pencil" aria-hidden="true" style="
    padding-right: 5px;
    padding-bottom: 3px; font-weight: 500;
    font-size: 18px;"></i>Create Pledge</button>
</div>
</div>



<form  class="col-md-11" *ngIf="createPledgeClicked" [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin-left: 20px;">
  <div class="form-group" style="padding-top: 20px;    width: 35%;    ">

    <div>
      <label class="form-label">Country:</label>
      <select formControlName="country" class="form-control inputField">
        <option value="United States" selected>United States</option>
        <option value="India">India</option>
        <option value="Australia">Australia</option>
        <option value="England">England</option>
      </select>
      <!-- [ngClass]="{ 'is-invalid': submitted && f.country.errors }" -->
     <!--  <div *ngIf="registerForm.controls['country'].invalid && (registerForm.controls['country'].dirty || registerForm.controls['country'].touched)" class="alert alert-danger">
        <div *ngIf="registerForm.controls['country'].errors.required">
        Name is required.
      </div>
    </div> -->
     <!--  <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
        <div *ngIf="f.country.errors.required">Country is required</div>
      </div> -->
    </div>
    <br />
    <div>
      <label class="form-label">Program Name:</label>
      <select formControlName="programName" class="form-control inputField" >
        <option value="Carbon Emission Reduction" selected>Carbon Emission Reduction</option>
        <option value="Carbon Footprint">Carbon Footprint</option>
      </select>
      <!-- <div *ngIf="submitted && f.programName.errors" class="invalid-feedback">
        <div *ngIf="f.programName.errors.required">WBG Program is required</div>
      </div> -->
    </div>
    <br />
    <div>
      <label class="form-label">Pledge Fund Type:</label>
      <select formControlName="pledgeFundType" class="form-control inputField" >
        <option value="Regular" selected>Regular</option>
        <option value="Additional Contribution">Additional Contribution</option>
      </select>
     <!--  <div *ngIf="submitted && f.pledgeFundType.errors" class="invalid-feedback">
        <div *ngIf="f.pledgeFundType.errors.required">Pledge Fund Type is required</div>
      </div> -->
    </div>
    <br />
    <div>
      <label class="form-label">Start Date:</label>
      <input type="date" formControlName="startDate" class="form-control inputField" style="width:198px;  border-width: 1px;" >
    <!--   <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
        <div *ngIf="f.startDate.errors.required">Start Date is required</div>
      </div> -->
    </div>

    <br />
    <div>
      <label class="form-label">End Date:</label>
      <input type="date" formControlName="endDate" class="form-control inputField" style="width:198px; border-width: 1px;">
      <!-- <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
        <div *ngIf="f.endDate.errors.required">End Date is required</div>
      </div> -->
    </div>

    <br />
    <div>
      <label class="form-label">Amount:</label>
      <input  class="form-control inputField" formControlName="amount" style="width:198px; border-width: 1px;" >
      <!-- <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
        <div *ngIf="f.amount.errors.required">Amount is required</div>
      </div> -->
    </div>

    <br />
    <div>
      <label class="form-label">Payment Period:</label>
      <select formControlName="paymentPeriod" class="form-control inputField" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
      </select>
     <!--  <div *ngIf="submitted && f.paymentPeriod.errors" class="invalid-feedback">
        <div *ngIf="f.paymentPeriod.errors.required">Payment period is required</div>
      </div> -->
    </div>

    <br />
    <div>
      <label class="form-label">Number of Payment:</label>
      <input class="form-control inputField" formControlName="installments" style="width:198px;      border-width: 1px; ">
     <!--  <div *ngIf="submitted && f.installments.errors" class="invalid-feedback">
        <div *ngIf="f.installments.errors.required">No. of payment is required</div>
      </div> -->
    </div>
    <br />
    <div class="form-group" style="    float: right;
          padding-top: 15px;
          padding-right: 5px;
          ">
      <button mat-raised-button class="initiatePledgeForm-submitBtn" (click)="onCancel()">Cancel</button>
      <button mat-raised-button class="initiatePledgeForm-submitBtn" style="margin-left: 22px;">Submit</button>
    </div>
  </div>
</form>