.search-form{
    margin:20px;
    height: 150px;
}

.search-formField-open{
    padding-top: 10px;
    padding-left: 4px;
}

.search-formField-close{
    padding-top: 10px;
    padding-left: 15px;
}

.searchForm-label{
    color:grey;
}

.searchForm-label.space{
    padding-right: 15px;
}

.searchForm-label.status{
    padding-right: 39px;
}

.searchForm-label.pledgeId{
    padding-right: 68px;
 }

.searchForm-label.startDate{
    padding-right: 33px;
    height: 20px;
    width: 180px;
}

.searchForm-label.endDate{
    padding-right: 28px;
    height: 20px;
    width: 180px;
}

.pledgeId-close{
    height: 20px;
    width:155px;
}

.pledgeFundType-select-open{
 height:25px;   
}

.pledgeFundType-select-close{
    height:25px;   
    
}

 .pledge-id-open{
    width: 180px;
    height: 20px;  
} 
.donorName-input-open{
    height:20px;   
}
 
.donorName-input-close{
    height:20px;   
    width: 180px;
}

.country-select-open, .status-select-open{
    width: 150px; 
    height: 25px;
}

.country-select-close, .status-select-close{
    width: 180px; 
    height: 25px;
}

.invoice-label-open{
    color:grey;
    padding-right: 25px;
}

.invoice-label-close{
    color:grey;
    padding-right: 22px;
}

.endDate-input-open{
    height: 20px;
    width: 145px;
}

.endDate-input-close{
    height: 20px;
    width: 175px;
}

.startDate-input-open{
    height: 20px;
}

.startDate-input-close{
    height: 20px;
    width: 170px;
}
.recordlegal-Btn{
margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 100px;
    background-color: grey;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 1px !important;
}
.searchBtn-open{
    margin-top: 10px;
    float: right;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 1px !important;
}

.searchBtn-close{
    margin-top: 10px;
    float: right;
    margin-right: 10px !important;
    margin: 0px;
    padding: 0px;
    width: 85px;
    background-color: #f7941d;
    height: 33px;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,.2), 0 1px 0px 0 rgba(0,0,0,.14), 0 0px 5px 0 rgba(0,0,0,.12) !important;
    border-radius: 1px !important;
}

.fa.fa-search{
    font-size: 18px;
    margin-top: -4px;
    padding-right: 7px;
    font-weight: 500;
}

table {
    width: 100%;
  }


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }


  .m-signature-pad {
    font-size: 17px;
    width: 300px;
    height: 200px;
    border: 1px solid ;
    background-color: #fff;
    
    border-radius: 4px;
    border-color: #808080a1;
  }

 .m-signature-pad-donor{
    font-size: 17px;  
    width: 300px;
    height: 200px;
    border: 1px solid ;
    background-color: #fff; 
    border-radius: 4px;
    border-color: #808080a1;
 }