<form [formGroup]="userRoleForm" (ngSubmit)="submitUserRole()" style="margin-left: 20px;">
  
  <div class="form-group" style="padding-top: 20px; width: 35%; ">

    <!-- Employee Id-->
    <div class="styled-1">
      <label class="initiatePledgeForm-label">Employee Id:</label>
      <input formControlName="employeeId" class="form-control" [class.employeeId-open]="childMessage"
              [class.employeeId-close]="!childMessage" #employeeId>
              <button mat-raised-button [class.searchBtn-open]="childMessage" [class.searchBtn-close]="!childMessage" (click)="searchUserRole(employeeId)">
                <i class="fa fa-search" aria-hidden="true"></i>Search</button>
    </div>
    <br/>

      <!-- Employee Name-->
    <div class="userRoleForm-formField">
      <label class="initiatePledgeForm-label">Employee Name:</label>
      <input type="text" formControlName="employeeName" class="form-control inputField" [(ngModel)]="ename" >
    </div>
   
    <br />
    <!-- Start Date-->
    <div class="userRoleForm-formField">
      <label class="initiatePledgeForm-label">Start Date:</label>
      <input type="date" formControlName="startDate" class="form-control inputField" style="width:198px;  border-width: 1px;" >
    </div>
 
    <br/>

    <!-- End Date-->
    <div class="userRoleForm-formField">
      <label class="initiatePledgeForm-label">End Date:</label>
      <input type="date" formControlName="endDate" class="form-control inputField" style="width:198px; border-width: 1px;">
    </div> 
    <br/>

 <!-- Role-->
    <div class="userRoleForm-formField">
      <label class="initiatePledgeForm-label">Role:</label>

      <mat-radio-group aria-label="Select an option" formControlName="role" [(ngModel)]="roleSelected">
        <br/>
        <mat-radio-button value="WBG Business User" class="initiatePledgeForm-label">WBG Business User</mat-radio-button>
        <br/>
        <mat-radio-button value="WBG Business Approver" class="initiatePledgeForm-label">WBG Business Approver</mat-radio-button>
        <br/>
        <mat-radio-button value="Donor" class="initiatePledgeForm-label">Donor</mat-radio-button>
        <br/>
        <mat-radio-button value="WBG Treasury" class="initiatePledgeForm-label">WBG Treasury</mat-radio-button>
     </mat-radio-group>
</div>

  <br/>
    <div class="form-group" style=" float: right; padding-top: 15px; padding-right: 115px;">
      <button mat-raised-button class="initiatePledgeForm-submitBtn">Submit</button>
    </div>
  <br />

  </div>
</form>

